<div class="col-lg-3">
  <h4>Patients <small>(sorted alphabetically)</small></h4>
  <ul>
    {{#each sortedPatients as |patient|}}
      <li>
        <a {{action "selectPatient" patient}} class="nav-link">{{patient.fullName}}</a>
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-xs-9">

  <h4 class="card-title">BMI Calculations <small>(sorted by date)</small></h4>
  {{selectedPatient.fullName}}
  <ul>
    {{#each content.observations as |obs|}}
      {{obs.id}}
    {{/each}}
  </ul>
</div>
